package {{package}};

import org.springframework.cloud.openfeign.FeignClient;
import com.ayagmar.go.jobscraper.model.ApiSuccessResponse;
import com.ayagmar.go.jobscraper.model.ScraperJobPosting;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestParam;
import com.ayagmar.jobapplicationtracker.common.configuration.FeignClientConfig;

import java.util.List;

@FeignClient(name = "{{classname}}Client", url = "${job.api.base-url}", configuration = FeignClientConfig.class)
public interface {{classname}} {

@GetMapping("/api/v1/jobs")
List
<ScraperJobPosting> getJobs();

    @PostMapping("/api/v1/scrape")
    ApiSuccessResponse scrapeJobs(@RequestParam("jobTitle") String jobTitle, @RequestParam(value = "country") String
    country,
    @RequestParam(value = "pages", defaultValue = "1") Integer pages,
    @RequestParam(value = "source") String source );
    }